blockquote.gamma.space--top-3
  | It is very important to associate the program to your Adobe ID, entering your login information. This way you will not have problems recovering your files in the future and you can read your ebook on all authorized devices with the same profile.