blockquote.gamma.space--top-3
  | È molto importante associare l'applicazione alla tua ID Adobe, inserendo i tuoi dati di accesso. In questo modo non avrai problemi a recuperare i tuoi file in futuro e potrai leggere i tuoi ebook su tutti i dispositivi autorizzati con lo stesso profilo.
